<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>error(s) occured.</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="blog_title">-->
<!--    <div class="blog-panel">-->
<!--     <%#= form.label :title %>-->
<!--     <%#= form.text_field :title %>-->
<!--    </div>-->
<!--    <div class="blog_title">-->
<!--     <%#= form.label :content %>-->
<!--     <%#= form.text_field :content %>-->
<!--    </div>-->
<!--    <div class="submit_button">-->
<!--     <%#= form.submit %>-->
<!--    </div>-->
<!--  </div>-->
<!--<%# end %>-->

 <div class="container">
   <div class="row_a">
     <div class="blog_title col-md-5">
       <%= form.label :title %>
       <%= form.text_field :title %>
     </div>
     <div class="blog_content col-md-5">
       <%= form.label :content %>
       <%= form.text_field :content %>
     </div>
  
   <div class="row_b">
     <div class="create_botton col-offset-md-10 col-md-2">
       <%= form.submit %>
     </div>
   </div>
   
<% end %>

<%#= link_to 'Back to Blog Lists', blogs_path, class: "btn btn-primary" %>
