<h1 class="lists_title container-fluid">Blog details</h1>

<article>
  
 <div class="shows">
  <div class = "row">

   <div class="col-md-11">
    <ul class="row">
      <li class="col-offset-md-4 col-md-3">Title: <%= @blog.title %></li>
      <li class="col-md-6" >Content: <%= @blog.content %></li>
    </ul>
   </div>
  
  </div>
 </div>
</article>

<% unless @blog.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'DELETE from my favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'ADD my favorite', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>

<%= link_to "Back to Blog Lists", blogs_path, class: "btn btn-primary" %>